.Card {
  height: 100%;
  transition: all 100ms;

  &--selected {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(get-color(primary), 0.2);
    }
  }

  &--selectable:hover {
    transform: translateY(-$spacing-s);
    .Card__content {
      box-shadow: $shadow-l;
    }
  }

  &__content {
    max-height: $font-size * 20;
    border-radius: 10px;
    height: 100%;
    box-shadow: $shadow;
  }
}
