.Card {
  height: $font-size * 8;
  width: $font-size * 6;
  border-radius: $border-radius;
  margin: $spacing-xs;
  padding: $spacing-xs;
  background: get-color(dark);
  box-shadow: $shadow;
  overflow: hidden;

  &--selected {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(get-color(primary), .2);
    }
  }

  &--red {
    background: linear-gradient(
      45deg,
      rgba(get-color(red), 1) 0%,
      rgba(get-color(red, light, 50%), 1) 50%,
      rgba(get-color(red), 1) 100%
    );

    .Card__content {
      background: rgba(get-color(red), 0.3);
    }
  }

  &--blue {
    background: linear-gradient(
      45deg,
      rgba(get-color(blue), 1) 0%,
      rgba(get-color(blue, light, 50%), 1) 50%,
      rgba(get-color(blue), 1) 100%
    );

    .Card__content {
      background: rgba(get-color(blue), 0.3);
    }
  }

  &--green {
    background: linear-gradient(
      45deg,
      rgba(get-color(green), 1) 0%,
      rgba(get-color(green, light, 50%), 1) 50%,
      rgba(get-color(green), 1) 100%
    );

    .Card__content {
      background: rgba(get-color(green), 0.3);
    }
  }

  &--yellow {
    background: linear-gradient(
      45deg,
      rgba(get-color(yellow), 1) 0%,
      rgba(get-color(yellow, light, 50%), 1) 50%,
      rgba(get-color(yellow), 1) 100%
    );

    .Card__content {
      background: rgba(get-color(yellow), 0.3);
    }
  }

  &--multi {
    background: linear-gradient(
      45deg,
      rgba(get-color(blue), 0.7) 0%,
      rgba(get-color(green), 0.7) 33%,
      rgba(get-color(yellow), 0.7) 66%,
      rgba(get-color(red), 0.7) 100%
    );
  }

  &__content {
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: $border-radius;
    padding: $spacing-xs;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
