.Card {
  height: $font-size * 8;
  margin: $spacing-xs;

  &--selected {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(get-color(primary), 0.2);
    }
  }

  &--selectable & {
    &__content:hover {
      transform: translateY(-$spacing-xs);
      box-shadow: $shadow-l;
    }
  }

  &__content {
    transition: all 100ms;
    height: 100%;
    box-shadow: $shadow;
  }
}
