{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-hooks", "@typescript-eslint"],
  "extends": ["prettier/@typescript-eslint", "plugin:prettier/recommended", "plugin:react/recommended"],
  "rules": {
    "no-var": "error",
    "prefer-const": "error",
    "no-useless-constructor": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/array-type": ["error", { "default": "array-simple" }]
  },
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  }
}
