@function to-rem($font-size) {
  $html-font-size: 16px;
  $rem-size: $font-size / $html-font-size;
  @return #{$rem-size}rem;
}

@function get-color($color, $state: normal, $percent: 10%) {
  $value: map-get($colors, $color);

  @if $state == normal {
    @return $value;
  }

  @if $state == light {
    @return lighten($value, $percent);
  }

  @if $state == dark {
    @return darken($value, $percent);
  }

  @error "#{$state} is not a correct state.";
}
